<body>
    <div class="main">
        <img class="background" src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" alt="beach">
        <img class="logo" src="../../../assets/logo.png" alt="logo">
    </div>
    <!-- <div class="trip-carousel">
        TODO
    </div> -->
    <div class="contact-and-map-container">
        <div class="contact-and-map">
            <div class="contact">
                <h3>Contact</h3>
                <p>Phone: 123-456-7890</p>
                <p>Email: driptrip@gmail.com</p>
                <h3>Address</h3>
                <p>Kawiory 21</p>
                <p>30-055 Kraków</p>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.9742555779467!2d19.91040951588856!3d50.06804377942448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165ba4c2a49e97%3A0xc4bef8eb0fcc3739!2sD%2017%2C%20Kawiory%2021%2C%2030-055%20Krak%C3%B3w!5e0!3m2!1sen!2spl!4v1670253905653!5m2!1sen!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</body>