.card {
    width: 90%;
    height: 300px;
    margin-left: 5%;
    margin: 15px 0px 15px 5%;
}

.card img {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 60%;
}

.name {
    position: absolute;
    top: 62.5%;
    left: 5%;
    width: 90%;
    display: flex;
    /* justify-content: space-between; */
    padding: 0px;
}

.country {
    position: absolute;
    top: 60%;
    left: 5%;
}

.date {
    position: absolute;
    top: 72.5%;
    left: 5%;
    font-size: 0.9em;
}

.sign-button {
    position: absolute;
    height: 1.7em;
    width: 1.7em;
    padding: 0px;
    bottom: 5%;
}

.plus-button {
    right: 5%;
}

.minus-button {
    left: 65%;
}

.counter {
    position: absolute;
    left: 80%;
    bottom: 5%;
    transform: translate(-50%, 25%);
    font-size: 1.2em;
}

.price {
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 1.5em;
    transform: translate(0%, 25%);
}

.btn-grad {
    background-color: #0093E9;
    background-image: linear-gradient(315deg, #0093E9 0%, #80D0C7 56%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: 0px;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .btn-grad:active {
    background-position: left center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}