<div class="card">
    <div class="overall-rating">
        <!-- <h3>Overall rating</h3> -->
        <div class="rating">
            <i class="star bi bi-star-fill" style="margin-left: 0px; font-size: 2.3rem;"></i>
            <h1>3.6/5.0</h1>
        </div>
    </div>
    <div class="detailed-rating">
        <div class="stars stars-5">
            5
            <i class="star bi bi-star-fill"></i>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" aria-label="5-star" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">7</div>
            </div>
        </div>
        <div class="stars stars-4">
            4
            <i class="star bi bi-star-fill"></i>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" aria-label="4-star" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">3</div>
            </div>
        </div>
        <div class="stars stars-3">
            3
            <i class="star bi bi-star-fill"></i>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" aria-label="3-star" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">7</div>
            </div>
        </div>
        <div class="stars stars-2">
            2
            <i class="star bi bi-star-fill"></i>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" aria-label="2-star" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">7</div>
            </div>
        </div>
        <div class="stars stars-1">
            1
            <i class="star bi bi-star-fill"></i>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" aria-label="1-star" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">7</div>
            </div>
        </div>
    </div>
</div>