.container {
    background-color: rgb(32, 32, 189);
    border-radius: 10px;
    position: relative;
    height: 800px;
    display: flex;
    justify-content: center;
}

.doctor-container {
    overflow: hidden;
    border-radius: 25px;
    width: 100px;
    height: 150px;
    position: absolute;
    top: 3%;
    left: 3%;
}

.doctor-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caller-container {
    height: 100%;
    width: 600px;
    overflow: hidden;
}

.caller-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.buttons-container {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 2;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.button img {
    width: 60%;
    height: 60%;
}

.button3 {
    background-color: red;
}

.filler {
    height: 600px;
}

.volume-container {
    overflow: hidden;
    width: 30px;
    height: 45px;
    position: absolute;
    top: 85%;
    left: 3%;
}

.volume-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}