article, .third-section {
    border: 2px solid black;
    min-height: 80px;
    min-width: 10px;
    margin: 10px;
}

.flex {
    display: flex;
}

.left {
    background-color: red;
    flex-grow: 1;
}

.right {
    background-color: lightblue;
    flex-grow: 2;
}

.third-section {
    background-color: yellow;
}