nav {
    box-shadow: 5px black;
    height: 62px;
    padding: 0px;
    box-shadow: 0 3px 5px rgba(182, 182, 182, 0.75);
}

.navbar-brand {
    position: absolute;
    top: -2px;
    left: 60px;
}

.navbar-brand img {
    height: 60px;
    width: auto;
}