<button type="button" data-bs-toggle="offcanvas" data-bs-target="#mainNav" aria-controls="mainNav">
    <i class="bi bi-list"></i>
</button>

<div class="offcanvas offcanvas-start" tabindex="-1" id="mainNav" aria-labelledby="mainNavLabel">
    <div class="offcanvas-header">
        <!-- <h5 class="offcanvas-title" id="mainNavLabel">Drip Trip Placeholder</h5> -->
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <i class="bi bi-house"></i>
                <a class="nav-link" aria-current="page" href="home">Home</a>
            </li>
            <li class="nav-item">
                <i class="bi bi-airplane-engines"></i>
                <a class="nav-link" href="/trips">Trips Catalog</a>
            </li>
            <li class="nav-item">
                <i class="bi bi-plus-lg"></i>
                <a class="nav-link" href="#">Add Trip</a>
            </li>
            <li class="nav-item">
                <i class="bi bi-cart"></i>
                <a class="nav-link" href="details">Your cart</a>
            </li>
            <li class="nav-item">
                <i class="bi bi-clock-history"></i>
                <a class="nav-link" href="history">Trip History</a>
            </li>
            <li class="nav-item">
                <i class="bi bi-person"></i>
                <a class="nav-link" href="#">Account</a>
            </li>
        </ul>
    </div>
    </div>