
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" style="position: relative; margin: 7px;">
    <i class="bi bi-cart"></i>
    <span class="position-absolute translate-middle badge rounded-pill" [ngClass]="{'bg-danger': itemsCounter <= 10, 'bg-success': itemsCounter > 10}" style="left: 0%; top: 0%;">
       {{itemsCounter}}
    </span>
</button>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
<div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Your cart</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <div>
    <!-- Your cart is empty -->
    <app-shopping-cart-card></app-shopping-cart-card>
    <app-shopping-cart-card></app-shopping-cart-card>
    <app-shopping-cart-card></app-shopping-cart-card>
    <app-shopping-cart-card></app-shopping-cart-card>
    </div>
    
</div>
<div class="offcanvas-footer">
    <div class="nav sticky-bottom">
        <div class="container-fluid">
            <div class="row">
                <h5 class="total">Total: 10000$ <!-- add price counter --></h5>
                <div class="btn btn-primary checkout">Checkout</div>
            </div>
        </div>
    </div>
</div>
</div>