<nav class="navbar sticky-top bg-body">
    <div style="position: relative; width: 100%; height: 100%;">
      <app-menu></app-menu>
      <a class="navbar-brand" href="#">
        <!-- <img src="island.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> -->
        BRAND
      </a>
      <app-shopping-cart style="position: absolute; right: 10px;"></app-shopping-cart>
      <app-notifications style="position: absolute; right: 75px;"></app-notifications>
    </div>
  </nav>